%div.box.forschung-blue
  %div.information
    %div.row
      %div.col-xs-4
        %h6.turkois.normal-space="FORSCHUNG & RECHERCHEN"
      %div.col-xs-4
        %h6.turkois.more-space="VERMITTLUNG"
      %div.col-xs-4
        %h6.turkois.more-space="KULTURPROJEKTE"
    %div.row
      %div.col-xs-4
        %div.info
          %span="Historische Forschung"
          %span.extra-space="(Schwerpunkt: 19. + 20. Jh.)"
          %span.extra-space="Archivrecherchen"
          %span="Transkriptionen"
      %div.col-xs-4
        %div.info
          %span="Konzepte + Texte, z.B. für:"
          %span.extra-space="Publikationen"
          %span.extra-space="Jubiläumsprojekte"
          %span="Geschichtsvermittlung"
      %div.col-xs-4
        %div.info
          %span.extra-space="Konzeption"
          %span.extra-space="Inhaltliche Beratung"
          %span.extra-space="Begleitung Planung"
          %span="Organisationsberatung"
    %div.row.picture
      %div.col-xs-4
        %span
          =link_to image_tag("link_waffenbrueder_1.png", class: "waffenbrueder"), asset_path("waffenbrueder.pdf")
      %div.col-xs-4
        %span
          =link_to image_tag("link_ausstellungstafel.png", class: "ausstellungstafel"), asset_path("ausstellungstafel_rigiblick.jpg")
      %div.col-xs-4
        %span
          =link_to image_tag("link_hotelgeschichten_programm.png", class: "hotelgeschichten"), asset_path("programm_hotelgeschichten.pdf")
  %div.writing
    %h2="«Jubiläum oder Kulturprojekt?"
    %h2="Ich vermittle Inhalte so, dass sie attraktiv"
    %h2="und verständlich sind.»"
  %div.row
    %div.col-md-2.col-md-offset-10
      %div.feder-forschung=image_tag('feder.png', class: 'feder-forschung-picture')
