%div.box-forschung
  %div.information
    %div.container
      %div.row
        %div.col-xs-4.with-line
          %h6.green.normal-space="FORSCHUNG & RECHERCHEN"
          %div.info
            %span="Historische Forschung"
            %span="(Schwerpunkt: 19. + 20. Jh.)"
            %span="Archivrecherchen"
            %span="Familienforschung"
          %span
            =link_to image_tag("link_waffenbrueder_1.png", class: "waffenbrueder"), asset_path("waffenbrueder.pdf")
        %div.col-xs-4.with-line
          %h6.green.more-space="VERMITTLUNG"
          %div.info
            %span="Konzepte + Texte, z.B. für:"
            %span="Publikationen"
            %span="Jubiläumsprojekte"
            %span="Geschichtsvermittlung"
          %span
            =link_to image_tag("link_ausstellungstafel.png", class: "ausstellungstafel"), asset_path("ausstellungstafel_rigiblick.jpg")
        %div.col-xs-4
          %h6.green.more-space="KULTURPROJEKTE"
          %div.info
            %span="Konzeption"
            %span="Inhaltliche Beratung"
            %span="Begleitung Planung"
            %span="Organisationsberatung"
          %span
            =link_to image_tag("link_hotelgeschichten_programm.png", class: "hotelgeschichten"), asset_path("programm_hotelgeschichten.pdf")
  %div.writing-forschung
    %h3="„Jubiläum oder Kulturprojekt?"
    %h3="Ich vermittle Inhalte so, dass sie attraktiv"
    %h3="und verständlich sind.“"