%div.main
  %div.writing-welcome
    %h2="20 Jahre Erfahrung im Schreiben,"
    %h2="Forschen und Archivieren,"
    %h2="in Geschichts- und Kulturprojekten ..."
  %div.row
    %div.col-md-2.col-md-offset-10
      %div.feder-home=image_tag('feder.png', class: 'feder-home-picture')

