%div.box.archivierung-green
  %div.information
    %div.row
      %div.col-xs-4
        %h6.green.normal-space="BERATUNG"
      %div.col-xs-4
        %h6.green.normal-space="ERSCHLIESSUNG"
      %div.col-xs-4
        %h6.green.normal-space="PROJEKTLEITUNG"
    %div.row
      %div.col-xs-4
        %span.extra-space="Augenschein + erstes Feedback"
        %span.extra-space="Kurzgutachten mit Handlungsoptionen"
        %span.extra-space="Empfehlungen"
      %div.col-xs-4
        %span.extra-space="Kleinere Erschliessungsprojekte"
        %span.extra-space="Bewertung + Ordnen"
        %span.extra-space="Verzeichnisse erstellen"
      %div.col-xs-4
        %span.extra-space="Anleitung Ihrer Fach- oder Hilfskraft"
        %span.extra-space="Begleitung Ihres Erschliessungsprojekts"
        %span.extra-space="Qualitätskontrolle"
    %div.row.picture
      %span.col-xs-4
        =image_tag("sauordnung.jpg", class: "sauordnung")
      %span.col-xs-4
        =image_tag("erschliessung.jpg", class: "erschliessung")
      %span.col-xs-4
        =image_tag("archiv.jpg", class: "archiv")
  %div.writing
    %h3="«Chaos im Archiv?"
    %h3="Mein Ziel ist nicht Perfektion, sondern eine"
    %h3="pragmatische Lösung für Ihr Problem.»"