%div.box.textarbeit-blue
  %div.information
    %div.row
      %div.col-xs-4
        %h6.blue="TEXTE ALLER ART"
      %div.col-xs-4
        %h6.blue="IDEEN + KONZEPTE"
      %div.col-xs-4
        %h6.blue="REDAKTION & LEKTORAT"
    %div.row
      %div.col-xs-4
        %div.info
          %span.extra-space="Journalistische Texte"
          %span.extra-space="Historische Werke"
          %span.extra-space="Broschüren + Webseiten"
          %span.extra-space="Berichte + Reportagen"
          %span.extra-space="Politische Kommunikation"
          %span
          =link_to "Publikationsliste (PDF)", asset_path("publikationsliste.pdf")
      %div.col-xs-4
        %div.info
          %span.extra-space="Buchkonzepte"
          %span.extra-space="Beratung Buchprojekte"
          %span.extra-space="Jubiläen"
          %span.extra-space="Ausstellungen"
          %span="Kampagnen"
      %div.col-xs-4
        %div.info
          %span.extra-space="Redigieren einzelner Texte"
          %span.extra-space="Redaktion"
          %span.extra-space="Gesamtpublikation"
          %span="Lektorat"
    %div.row.picture
      %div.col-xs-4
        %span
          =link_to image_tag("link_npg.jpg", class: "picture_npg"), asset_path("nidwalden_politische_geschichte.pdf")
      %div.col-xs-4
        %span
          =link_to image_tag("link_hotelgeschichten.jpg", class: "picture_hotelgeschichten"), asset_path("hotelgeschichten.pdf")
      %div.col-xs-4
        %span
          =image_tag("kantonsgeschichte.jpg", class: "picture_kantonsgeschichte")
  %div.writing
    %h2="«Bleiwüste, Schreibstau, Buchstabensalat?"
    %h2="Meine Texte sind zugeschnitten auf Ihre Botschaft"
    %h2="und auf Ihr Zielpublikum.»"
  %div.row
    %div.col-md-2.col-md-offset-10
      %div.feder-textarbeit=image_tag('feder.png', class: 'feder-textarbeit-picture')

