%div.box-forschung
  %div.information
    %div.container
      %div.row
        %div.col-xs-4.with-line
          %h6.green.normal-space="KARIN SCHLEIFER"
          %div
            %span.extra-space="lic.phil.(Geschichte und Politikwissenschaft)"
            %span.extra-space="Historikerin / Autorin"
            %span.extra-space="Wissenschaftliche Archivarin"
            %span.extra-space
              =link_to("Ausführlicher Lebenslauf (PDF)", asset_path("lebenslauf.pdf"))
          %span
            =image_tag("foto.jpg", class: "foto")
        %div.col-xs-4.with-line
          %h6.green.normal-space="KOSTEN"
          %div.info
            %span.extra-space="Unverbindliches Erst-/Offertengespräch"
            %span.extra-space="Konzepte + Beratung: Pauschalofferte/Kostendach"
            %span.extra-space="Wiederkehrende Kleinaufträge: Halbjahres- oder Jahresrechnung"
            %span.extra-space="Kostenloses Abschluss-/Übergabemeeting"
        %div.col-xs-4
          %h6.green.normal-space="KONTAKT"
          %div.info
            %span.bold="Atelier"
            %span="Rosenburg (Höfli)"
            %span="Alter Postplatz 3"
            %span="6370 Stans"
            %span.extra-space="2. Stock, (Eingang Lit.z)"
            %span="078 630 34 84"
            %span.extra-space="ks@skriptorium.ch"
            %span.bold="Impressum + Postadresse"
            %span="Skriptorium GmbH Karin Schleifer"
            %span="Acherweg 19, 6370 Stans"
  %div.writing-ueber
    %h3="„Schreiben und Geschichte sind meine Leidenschaft."
    %h3="Kontaktieren Sie mich für ein unverbindliches Gespräch."
    %h3="Ich freue mich auf Sie und Ihr Projekt!“"