%div.box.ueber-blue
  %div.information
    %div.row
      %div.col-xs-4
        %h6.uber-blue.normal-space="KARIN SCHLEIFER"
      %div.col-xs-4
        %h6.uber-blue.normal-space="KOSTEN"
      %div.col-xs-4
        %h6.uber-blue.normal-space="KONTAKT"
    %div.row
      %div.col-xs-4
        %span.extra-space="lic. phil. (Geschichte und Politikwissenschaft)"
        %span.extra-space="Historikerin / Autorin"
        %span.extra-space="Wissenschaftliche Archivarin"
        %span.extra-space
          =link_to("Ausführlicher Lebenslauf (PDF)", asset_path("lebenslauf.pdf"))
        %span
          =image_tag("foto.jpg", class: "foto")
      %div.col-xs-4
        %span.extra-space="Unverbindliches Erst- / Offertengespräch"
        %span.extra-space="Konzepte + Beratung: Pauschalofferte / Kostendach"
        %span.extra-space="Wiederkehrende Kleinaufträge: Halbjahres- oder Jahresrechnung"
        %span.extra-space="Kostenloses Abschluss- / Übergabemeeting"
      %div.col-xs-4
        %span.bold="Atelier"
        %span="Rosenburg (Höfli)"
        %span="Alter Postplatz 3"
        %span="6370 Stans"
        %span.extra-space="2. Stock, (Eingang Lit.z)"
        %span="078 630 34 84"
        %span.extra-space="ks@skriptorium.ch"
        %span.bold="Impressum + Postadresse"
        %span="Skriptorium GmbH"
        %span="Karin Schleifer"
        %span="Acherweg 19, 6370 Stans"
  %div.writing
    %h3="«Kontaktieren Sie mich für ein unverbindliches Gespräch."
    %h3="Ich freue mich auf Sie und Ihr Projekt!»"