// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.archivierung-green {
  background-color: rgb(99, 118, 83);
}

.info-sauordnung {
  margin-bottom: 24%;
}

.info-erschliessung {
  margin-bottom: 33%;
}

.info-archivierung {
  margin-bottom: 13%;
}

h6.green {
  color: rgb(99, 118, 83);
}

.sauordnung {
  width: 200px;
  height: 130px;
}

.erschliessung {
  width: 200px;
  height: 130px;
}

.archiv {
  width: 200px;
  height: 130px;
}


