// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forschung-blue {
  background-color: rgb(90, 191, 184)
}

h6.turkois {
  color: rgb(90, 191, 184);
}

.waffenbrueder {
  width: 200px;
  height: 130px;
}

.ausstellungstafel {
  width: 200px;
  height: 130px;
}

.hotelgeschichten {
  width: 200px;
  height: 130px;
}
