// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forschung-blue {
  background-color: rgb(90, 191, 184)
}

h6.green {
  color: rgb(90, 191, 184);
}

.more-space {
  margin-bottom: 16%;
}

.waffenbrueder {
  width: 80%;
}

.ausstellungstafel {
  width: 80%;
  height: 60%;
}

.hotelgeschichten {
  width: 80%;
}

