.navigation {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;

  .logo {
    display:inline-block;
  }

  .menu {
    float: right;
    display: inline-block;
    padding-top: 10%;

    a.textarbeit:hover {
      color: rgb(82, 104, 170);
    }

    a.forschung:hover {
      color: rgb(90, 191, 184);
    }

    a.archivierung:hover {
      color: rgb(99, 118, 83);
    }

    a.uber:hover {
      color: #b5c2ce;
    }
  }
}


.footer {
  background-color: rgb(48, 70, 109);
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  color: white;
  padding: 8px;

  .small-column {
    width: 15%;
  }

  .large-column {
    width: 30%;
  }

  .really-small-text {
    font-size: 8px;
  }

  .grey-text {
    color: #D3D3D3;
  }

}

