// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.textarbeit-blue {
  background-color: rgb(82, 104, 170);
}

.picture_kantonsgeschichte {
  width: 200px;
  height: 130px;
  float: left;
}

.picture_hotelgeschichten {
  width: 200px;
  height: 130px;
  margin-left: -7%;
}

.picture_npg {
  width: 200px;
  height: 130px;
  //margin-top: 25%;
  text-align: center;
      }

h6.blue {
  color: rgb(82, 104, 170);
}

.feder-textarbeit {
  position: relative;
  float: right;
  bottom: 130px;
}

.feder-textarbeit-picture {
    max-width: 350px;
}

