// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  background-color: #B5C2CE;

  .writing-welcome {
    color: white;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 30%;
    font-family: 'Slabo 27px', serif;
    font-style: italic;
    padding-bottom: 5%;
  }
}

.feder-home {
  position: relative;
  float: right;
  bottom: 300px;
}

.feder-home-picture {
    width: 350px;
}
