// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
<<<<<<< HEAD
  background-color: #B5C2CE;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  .writing {
    color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding-top: 25%;
    font-family: 'Slabo 27px', serif;
    font-style: italic;
    padding-bottom: 5%;
  }

=======
  //background: url(background.jpg);
  //background-size: contain;
  //background-repeat: no-repeat;
  //width: 100%;
  //height: 0;
  //padding-top: 68%;
  //background-position: 0px -220px;



  .writing {
    //color: white;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 18%;
    font-family: 'Slabo 27px', serif;
    font-style: italic;
  }
>>>>>>> 4dad9c70fc0cc1b74a42366918069d2bb808e838
}




