<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="bToDMfQa1ttnQ5DKWs_kgAJevLy5ajjZ0cxmaFB3ntk" />
  <title>Skriptorium</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
